<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{view.btn.details}"></title>
<link rel="stylesheet" href="./css/semantic.min.css">
<style>
</style>
</head>
<body>
	<div class="ui hidden divider"></div>
	<div class="ui text container">
		<form th:action="@{/return}" method="post">
			<table class="ui single line table">
				<thead>
					<tr>
						<th><p th:text="#{view.btn.details}"></p></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><p th:text="${text}"></p></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" name="keepword" th:value="${word}">
			<button class="ui button" type="submit" name="fromdisplay"
				th:value="*{page}">
				<p th:text="#{view.btn.return}"></p>
			</button>
		</form>
	</div>
</body>
</html>