<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Result2</title>
<link rel="stylesheet" href="./css/semantic.min.css">
<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/semantic.min.js"></script>
</head>
<body>
	<div class="ui text container">
	<div class="ui header">
    <a class="logo" href="index.html"><img src="./img/ShanteryLogo.jpg" alt="シャンテリーロゴ"></a>
    <div class="content">
    	メール検索    
        <div class="sub header">
            [案件　要員]
        </div>
    </div>
</div>

<strong>FreeWord：</strong>
            <div class="ui input focus">
  			<input name=freeword type="text" placeholder="Search...">
			</div>
            <button type="submit" name="search" class="ui primary button">検索</button>

	<form th:action="@{/ascdate}" th:object="${test}" method="post">
	<button type="submit" name="search" class="ui primary button">日付昇順</button>
	</form>
	<form th:action="@{/descdate}" th:object="${test}" method="post">
	<button type="submit" name="search" class="ui primary button">日付降順</button>
	</form>
<div class="ui divider"></div>
	<form th:action="@{/result}" th:object="${test}" method="post">
	<table class="ui single line table" style="font-size: 9.5pt;">
		<!-- 見出し。ここも可変になるように後々はしたい -->
		<thead>
		<tr>
			<th class="center"><strong>送信者</strong></th>
			<th class="center"><strong>件名</strong></th>
			<th></th>
		</tr>
		</thead>
		<!-- DB内の表示、ここも可変になるように後々はしたい -->
		<tr th:each="list : ${test}" th:object="${list}">
			<td th:text="*{sender}"></td>
			<td th:text="*{subject}"></td>
			<td>
			<button type="submit" name="hidden" class="mini ui button" th:value="*{text}">本文詳細</button>
			</td>
		</tr>
	</table>
	</form>
	</div>
</body>
</html>