<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{view.index.title}"></title>
<link rel="stylesheet" href="./css/semantic.min.css">
<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/semantic.min.js"></script>
<style>
a.disabled {
	pointer-events: none;
}
.demo1{
  float: right;
}
.sampleTable {
	width: 1125px;
	margin-bottom: 15px;
	border-collapse: collapse;
	table-layout: fixed;
}
.sampleTable th,
.sampleTable td {
	border: 1px solid #CCCCCC;
	padding: 10px 10px;
	text-align: left;
	/* font-size: 12px; */
}
.sampleTable th {
	background-color: #F9FAFB;
}

</style>
</head>
<body>
	<div class="ui container">
		<div class="ui header">
			<a class="logo" href="/"><img src="./img/ShanteryLogo.jpg"
				th:alt="#{view.shanterylog}"></a>
			<div class="content">
				<p th:text="#{view.label.searchtitle}">
				<div class="sub header" th:text="#{view.label.casefacter}"></div>
			</div>
		</div>
		<p
			th:text="
${paging.totalRecordNum} + #{view.label.incase}
+ ${paging.fromRecordNum} + #{view.label.tilde}
+ ${paging.toRecordNum} + #{view.label.preview}"></p>
		<p th:text="#{view.label.freeword}">
			</th:text>
		<form th:action="@{/sresults}" th:object="${searching}" method="post">
			<div class="ui input focus">
				<input name=sWord type="text" th:placeholder="#{view.searchword}" maxlength="64">
			</div>
			<button type="submit" name="search" class="ui primary button">
				<p th:text="#{view.btn.search}"></p>
			</button>
		</form>
		<div class="ui hidden divider"></div>
		<div class="ui divider"></div>
		<form th:action="@{/result}" th:object="${test}" method="post">
			<table class="sampleTable" style="font-size: 9.5pt;"><!-- class="ui compact celled table" -->
				<thead>
					<tr>
						<th:block th:each="list, stat: ${head}">
							<th:block th:if="${stat.index == 0}">
								<th width="145"><th:block th:text="${list}"></th:block><a th:href="@{'descdate'}" th:text="#{view.btn.desc}" style="float: right"></a>
								<a th:href="@{'/ascdate'}" th:text="#{view.btn.asc}" style="float: right"></a></th>
							</th:block>
							<th:block th:if="${stat.index == 4}">
								<th width="80"><th:block th:text="${list}"></th:block><a th:href="@{'desccost'}" th:text="#{view.btn.desc}" style="float: right"></a>
								<a th:href="@{'/asccost'}" th:text="#{view.btn.asc}" style="float: right"></a></th>
							</th:block>
							<th:block th:if="${stat.index == 5}">
								<th width="80"><th:block th:text="${list}"></th:block><a th:href="@{'descage'}" th:text="#{view.btn.desc}" style="float: right"></a>
								<a th:href="@{'/ascage'}" th:text="#{view.btn.asc}" style="float: right"></a></th>
							</th:block>
							<th:block th:if="${stat.index != 0 && stat.index != 4 && stat.index != 5}">
								<th width="100" th:text="${list}"></th>
							</th:block>
						</th:block>
						<th width="200"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${result2_list}" th:object="${list}">
						<th:block th:each="nakami, stat: ${list}">
							<td th:if="${stat.index < columnlength}" th:text="${nakami}"></td>
							<td th:if="${stat.last == true}" style="text-align: center;">
							<button type="submit" name="honbun" class="mini ui button"
								th:value="${nakami}">
								<p th:text="#{view.btn.details}"></p>
							</button>
							</td>
						</th:block>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th th:colspan="${columnlength + 1}">
							<div class="ui pagination small menu">
								<div th:if="!${paging.canGoFirst}"></div>
								<a class="icon item"
									th:classappend="!${paging.canGoFirst} ? 'disabled'"
									th:href="${paging.firstHref}"><i
									class="angle double left icon"></i></a> <a class="icon item"
									th:classappend="!${paging.canGoPrevious} ? 'disabled'"
									th:href="${paging.previousHref}"><i class="angle left icon"></i></a>
								<a class="item" th:each="element : ${paging.pagingViewElements}"
									th:href="${element.href}" th:text="${element.name}"
									th:classappend="${element.name} == ${paging.currentPageNum} ? 'disabled'"></a>
								<!--/*-->
								<a href="#" class="disabled item">2</a> <a href="#" class="item">3</a>
								<a href="#" class="item">4</a> <a href="#" class="item">5</a>
								<!--*/-->
								<a href="#" class="icon item"
									th:classappend="!${paging.canGoNext} ? 'disabled'"
									th:href="${paging.nextHref}"><i class="angle right icon"></i></a>
								<a class="icon item"
									th:classappend="!${paging.canGoLast} ? 'disabled'"
									th:href="${paging.lastHref}"><i
									class="angle double right icon"></i></a>
							</div>
						</th>
					</tr>
				</tfoot>
			</table>
			<div th:if="${paging.currentPageNum == null}">
				<input type="hidden" name="page" th:value="1">
			</div>
			<div th:if="${paging.currentPageNum != null}">
				<input type="hidden" name="page" th:value="${paging.currentPageNum}">
			</div>
		</form>
	</div>
</body>
</html>